/**** Collection Page - View ****/
#root>main>section.collection-view {}

#root>main>section.collection-view>.container {}

/*** header ***/
#root>main>section.collection-view>.container>header {
    /* position */
    position: relative;

    /* sizing */
    width: 100%;
    height: min(750px, max(45vh, 200px));
}

#root>main>section.collection-view>.container>header img {
    /* position */
    position: absolute;
    inset: 0;
    z-index: -1;

    /* sizing */
    width: 100%;
    height: 100%;

    /* image */
    object-fit: cover;
}

#root>main>section.collection-view>.container>header>.container {
    /* sizing */
    width: 100%;
    height: 100%;
    padding: var(--header-style-padding);
    padding-top: var(--header-stacked-offset);

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#root>main>section.collection-view>.container>header>.container::before {
    /* content */
    content: "";

    /* position */
    position: absolute;
    inset: 0;
    bottom: auto;
    z-index: -1;

    /* sizing */
    width: 100%;
    height: var(--header-stacked-offset);

    /* styling */
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

#root>main>section.collection-view>.container>header>.container::after {
    /* content */
    content: "";

    /* position */
    position: absolute;
    inset: 0;
    top: auto;
    z-index: -1;

    /* sizing */
    width: 100%;
    height: var(--header-stacked-offset);

    /* styling */
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

#root>main>section.collection-view>.container>header>.container h1 {
    /* spacing */
    margin: 0;
    padding: 0;

    /* text */
    font-size: min(32px, 6vmin);
    font-weight: 900;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
}

#root>main>section.collection-view>.container>header>.container span {
    /* text */
    font-size: min(18px, 4vmin);
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
}

/*** main ***/
#root>main>section.collection-view>.container>main {}

#root>main>section.collection-view>.container>main>.container {
    /* sizing */
    padding: var(--header-style-padding);

    /* grid */
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: calc(var(--default-padding) * 2);
}

/** sidebar **/
#root>main>section.collection-view>.container>main>.container>.sidebar {}

#root>main>section.collection-view>.container>main>.container>.sidebar>.item {
    /* flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--default-padding);

    /* styling */
    color: var(--foreground-color-200);
}

/** sidebar - author **/
#root>main>section.collection-view>.container>main>.container>.sidebar>.item#author {
    /* sizing */
    padding: var(--default-padding);

    /* text */
    text-decoration: none;

    /* styling */
    border-radius: 5px;
}

#root>main>section.collection-view>.container>main>.container>.sidebar>.item#author:focus,
#root>main>section.collection-view>.container>main>.container>.sidebar>.item#author:hover {
    background-color: var(--foreground-color-200);
    color: var(--background-color-200);
}

#root>main>section.collection-view>.container>main>.container>.sidebar>.item#author>img {
    /* sizing */
    --size: 60px;
    width: var(--size);
    height: var(--size);

    /* styling */
    border-radius: 50%;
}

#root>main>section.collection-view>.container>main>.container>.sidebar>.item#author>.container {
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: calc(var(--default-padding) / 2);
}

#root>main>section.collection-view>.container>main>.container>.sidebar>.item#author>.container span.title {
    /* text */
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
}

#root>main>section.collection-view>.container>main>.container>.sidebar>.item#author>.container span.subTitle {
    /* text */
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
}

/** mainbar **/
#root>main>section.collection-view>.container>main>.container>.main {
    /* grid */
    column-count: 3;
    gap: var(--default-padding);
}

#root>main>section.collection-view>.container>main>.container>.main[data-child-count="2"] {
    column-count: 2;
}

#root>main>section.collection-view>.container>main>.container>.main[data-child-count="1"] {
    column-count: 1;
}

@media (max-width: 1400px) {
    #root>main>section.collection-view>.container>main>.container>.main {
        /* grid */
        column-count: 2;
    }
}

@media (max-width: 1000px) {    
    #root>main>section.collection-view>.container>main>.container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    #root>main>section.collection-view>.container>main>.container>.main {
        /* grid */
        column-count: 1;
    }
}

#root>main>section.collection-view>.container>main>.container>.main img {
    /* sizing */
    width: 100%;
    height: fit-content;
    margin-bottom: var(--default-padding);

    /* flex */
    display: flex;

    /* styling */
    border-radius: 5px;
}

/*** footer ***/
#root>main>section.collection-view>.container>footer {}