#root>main>section.hero {
    /* position */
    position: relative;

    /* sizing */
    width: 100%;
    height: 100vh;
}

#root>main>section.hero>.container {
    /* position */
    position: relative;
    z-index: 1;
    
    /* sizing */
    width: 100%;
    height: 100%;
    padding: var(--header-style-padding);
    padding-top: var(--header-stacked-offset);

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--default-padding);
}

#root>main>section.hero>.container::before {
    /* content */
    content: "";

    /* position */
    position: absolute;
    inset: 0;
    bottom: auto;
    z-index: -1;

    /* sizing */
    width: 100%;
    height: var(--header-stacked-offset);

    /* styling */
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

#root>main>section.hero>.container::after {
    /* content */
    content: "";

    /* position */
    position: absolute;
    inset: 0;
    top: auto;
    z-index: -1;

    /* sizing */
    width: 100%;
    height: var(--header-stacked-offset);

    /* styling */
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

#root>main>section.hero .background {
    /* position */
    position: absolute;
    inset: 0;
    z-index: -1;

    /* sizing */
    width: 100%;
    height: 100%;

    /* image */
    object-fit: cover;
}

#root>main>section.hero>.container h1 {
    /* spacing */
    margin: 0;
    padding: 0;
}